// Mixins Here
.flex-centered(){
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px;
  
}


.round-borders (@radius) {
  border-radius: @radius;
  overflow: hidden;
}
.layout(@justify, @align){
	display: flex;
	justify-content: @justify;
	align-items: @align;
}